* {
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

body {
    background-color: #af9dff;
}

header {
    background-color: #32226d;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 20px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

header ul li {
    padding: 27px 20px;
}

li a {
    text-decoration: none;
    color: white;
}

#enrol-button a {
    background-color: white;
    color: #32226d;
    padding: 15px;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
} 


a img {
    width: 30px;
    margin-left: 10px;
}

header ul li:hover {
    background-color: white;
}

header ul li:hover a {
    color: #32226d;
}

.hero {
    background-image: url(images/hero-image.png);
    height: 130vh;
    width: 98.5svw;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    margin-bottom: 20px;
    
}

.hero h1 {
    font-size: 80px;
}

.hero p {
    font-size: 40px;
    margin-bottom: 30px;
}

.hero p a {
    padding: 20px;
    font-size: 30px;
    background-color: #32226d;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.one {
    width: 94.45%;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    margin: 0 auto;
}

.one .card-front, .one .card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.one .card-front {
    background-color: #32226d;
}

.container:hover .one {
    transform: rotateX(180deg);
}

.container {
    background-color: #af9dff;
}


.one .card-back {
    background-color: #32226d;
    transform: rotateX(180deg);
}

.css-grid {
    display: grid;
    grid-template-columns: repeat(4, 23vw);
    grid-gap: 10px;
    grid-template-rows: repeat(4, 30vh);
    justify-content: center;
    padding: 20px 0px;
    background-color: #af9dff;
}

.item {
    background-color: #32226d;
}

.a {
    grid-column: span 2;
}

.b {
    grid-column: span 2;
    grid-row: span 3;
}

.c {
    grid-column: span 2;
}

.d {
    grid-row: span 2;
}

.f {
    grid-column: span 3;
}

.footer {
    margin-top: 100px;
    height: 500px;
    background-color: #32226d;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.toe {
    margin: 100px;
}

.toe li {
    padding: 10px;
}