@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;1,200;1,300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: karla;
    box-sizing: border-box;
}

body {
    background-color: #85b0f1;
}

header {
    background-color: #22306d;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 20px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

header ul li a {
    padding: 27px 20px;
}

header a {
    text-decoration: none;
    color: white;
}

#enrol-button a {
    background-color: white;
    color: #22306d;
    padding: 15px;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 900;
} 


a img {
    width: 30px;
    margin-left: 10px;
    margin-top: 3px;
}

header ul li a:hover {
    background-color: white;
}

header ul li:hover a {
    color: #22306d;
}

@media only screen and (max-width: 706px) {
    header {
        display: block;
        text-align: center;
        padding-bottom: 20px;
        font-size: 50px;
    }
    header ul {
        display: block;
        margin-bottom: 20px;
    }
    header ul li {
        padding: 27px;
    }
    header ul li a {
        width: 200px
    }

}

.hero {
    background-image: url(images/hero-image.png);
    height: 130vh;
    width: 98.5svw;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    margin-bottom: 20px;
    
}

.hero h1 {
    font-size: 80px;
}

.hero p {
    font-size: 40px;
    margin-bottom: 30px;
}

.hero p a {
    padding: 20px;
    font-size: 30px;
    background-color: #22306d;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.one {
    width: 95vw;
    height: 40vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    margin: 0 auto;
}

.one .card-front, .one .card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.one .card-front {
    background-color: #22306d;
}

.container:hover .one {
    transform: rotateX(180deg);
}

.container {
    background-color: #85b0f1;
}


.one .card-back {
    background-color: #22306d;
    transform: rotateX(180deg);
}

.css-grid {
    display: grid;
    grid-template-columns: repeat(4, 23vw);
    grid-gap: 10px;
    grid-template-rows: repeat(4, 30vh);
    justify-content: center;
    padding: 20px 0px;
    background-color: #85b0f1;
}

.item {
    background-color: #22306d;
}

.a {
    grid-column: span 2;
}

.b {
    grid-column: span 2;
    grid-row: span 3;
}

.c {
    grid-column: span 2;
}

.d {
    grid-row: span 2;
}

.f {
    grid-column: span 3;
}

.footer {
    margin-top: 10px;
    background-color: #22306d;
    color: white;
    justify-content: center;
    align-items: center;
}

.toe ul {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    list-style: none;
}

.toe {
    padding: 50px;
    text-align: center;
}

.toe li {
    padding: 0px 50px;
    margin-right: 20px;
}

.toe li a {
    color: white;
    text-decoration: none;
}

.toe li a:hover {
    color: white;
    text-decoration: underline;
}

.main {
    display: flex;
    font-size: 30px;
    color: white;
    justify-content: center;
}



.text-block {
    width: 40%;
    margin: 40px;
    background-color: #22306d;
    padding: 30px;
    border-radius: 10px;
}

.text-block ul {
    margin-left: 70px;
}

@media only screen and (max-width: 706px) {
    .main {
        display: block;
    }
    .text-block {
        width: 90%
    }

}
#heading {
    text-align: center;
    color: white;
    font-size: 100px;
    margin-top: 50px;
}

.banner {
    background-image: url(images/treble-cleff.webp);
    background-size: contain;
    height: 100px;
    
}

.toe2 img {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.toe2 {
    text-align: right;
    vertical-align: bottom;
}

.filler-content {
    height: 100vh;
    width: 100vw;
}

#line {
    border: solid white 2px;
    width: 85%;
    margin: 25px auto;
    margin-bottom: 30px;
}

.enrolmain {
    display: flex;
    justify-content: center;
}

.inputbox {
    background-color: #22306d;
    border-radius: 5px;
    margin: 50px 10%;
    padding: 75px 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 60%;
}

.inputbox form {
    font-size: 40px;
}

.inputbox form input {
    height: 40px;
    font-size: 40px;
}

.inputbox form #sub {
    height: 50px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    color: #22306d;
}

.inputbox h1 {
    font-size: 60px;
    text-align: center;
}

.inputbox h2 {
    margin: 5px 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}

#bold {
    font-weight: 600;

}
.card-front img {
    height: 100%;
}

.item.d img {
    height: 100%;
}

.item.e img {
    height: 100%;
    width: 100%;
}

.flexcont {
    display: flex;
    margin-bottom: 30px;
}

.contact-page {
    margin: 20px;
    height: 600px;
    text-align: center;
    vertical-align: middle;
}

.eqhire {
    margin: 20px;
    font-size: 20px;
    height: 60vh;
}

.eqhire p {
    margin-bottom: 100px;
}